<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.fh.dao.SxDao">
    <select id="querysxvalue" parameterType="int" resultType="com.fh.entity.po.SxValue">

     select * from sp_sxvalue where attId=#{attId}
    </select>

    <insert id="savexvalue" parameterType="com.fh.entity.po.SxValue">
        insert  into sp_sxvalue (name,nameCH,attId) value  (#{name},#{nameCH},#{attId})
    </insert>
    <delete id="delxvalue" parameterType="int">
        delete from sp_sxvalue where  id=#{id}
    </delete>

    <select id="selectById" parameterType="int" resultType="com.fh.entity.po.SxValue">
        select * from sp_sxvalue where id=#{id}
    </select>
</mapper>
